# vscode project settings
.vscode

# images and videos
*.HEIC
calibrate_*.png
Photos-001.zip
estimage-pose_*.png
*.MOV
*.mp4

# cmake
CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile

# camera calibration
camera_calibration.txt
